<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单表 MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>

<header th:replace="common/top"></header>

<div id="Content">
    <h2>My Orders</h2>

    <table>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total Price</th>
        </tr>

        <tr th:each="order:${orderList}">
            <td>
                <a th:href="@{'/order/viewOrder?orderId='+${order.orderId}}" th:text="${order.orderId}">orderId</a>
            </td>
            <td>
                <span th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}">date</span>
            </td>
            <td>
                <label th:text="'Sub Total:$'+${#numbers.formatDecimal(order.totalPrice,1,2)}"></label>
            </td>
        </tr>
    </table>
</div>

<footer th:replace="common/bottom"></footer>

</body>
</html>