<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.CategoryMapper">
    <select id="getCategory" parameterType="String" resultType="Category">
    SELECT
      CATID AS categoryId,
      NAME,
      IMAGE,
      TEXT
    FROM CATEGORY
    WHERE CATID = #{categoryId}
    </select>

    <select id="getCategoryList" resultType="Category">
      SELECT
      CATID AS categoryId,
      NAME,
      IMAGE,
      TEXT
    FROM CATEGORY

    </select>

    <select id="getAllCategoryId" resultType="string">
        select catid from category
    </select>

    <insert id="insertCategory" parameterType="Category">
        INSERT INTO CATEGORY
        (CATID, NAME, IMAGE, TEXT)
        VALUES(#{categoryId}, #{name}, #{image}, #{text})
    </insert>

    <update id="updateCategory" parameterType="Category">
        UPDATE CATEGORY
        <set>
            <if test="category.categoryId != null">
                catid = #{category.categoryId},
            </if>
            <if test="category.name != null">
                name = #{category.name},
            </if>
            <if test="category.image != null">
                image = #{category.image},
            </if>
            <if test="category.name != null">
                text = #{category.text},
            </if>
        </set>
            where CATID = #{id}
    </update>

    <delete id="deleteCategory" parameterType="string">
        DELETE FROM CATEGORY WHERE CATID = #{categoryId}
    </delete>

    <update id="updateDescn">
        update category
        <set>
            <if test="image !=null">
                image = #{image},
            </if>
        </set>
        where catid = #{id}
    </update>
</mapper>