<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.ItemMapper">
    <update id="updateInventoryQuantity" parameterType="Map">
      UPDATE INVENTORY SET
      QTY = QTY - #{increment}
      WHERE ITEMID = #{itemId}
    </update>

    <select id="getInventoryQuantity" parameterType="String" resultType="int">
    SELECT QTY AS value
    FROM INVENTORY
    WHERE ITEMID = #{itemId}
    </select>

    <update id="updateInventoryItemId" parameterType="string">
        update inventory
        set itemid = #{id}
        where itemid = #{initId}
    </update>

    <select id="getItemListByProduct" parameterType="string" resultType="item">
    SELECT
      I.ITEMID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      IMAGE as "product.descriptionImage",
      TEXT as "product.descriptionText",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5
    FROM ITEM I, PRODUCT P
    WHERE P.PRODUCTID = I.PRODUCTID
    AND I.PRODUCTID = #{value}
  </select>

    <select id="getItemListWithItemId" parameterType="string" resultType="Item">
        SELECT
            I.ITEMID,
            LISTPRICE,
            UNITCOST,
            SUPPLIER AS supplierId,
            I.PRODUCTID AS "product.productId",
            NAME AS "product.name",
            IMAGE as "product.descriptionImage",
            TEXT as "product.descriptionText",
            CATEGORY AS "product.categoryId",
            STATUS,
            ATTR1 AS attribute1,
            ATTR2 AS attribute2,
            ATTR3 AS attribute3,
            ATTR4 AS attribute4,
            ATTR5 AS attribute5
        FROM ITEM I, PRODUCT P
        WHERE P.PRODUCTID = I.PRODUCTID
        <if test="itemId!=null">
            AND I.ITEMID LIKE concat('%',#{itemId},'%')
        </if>
    </select>

    <select id="getItem" parameterType="string" resultType="item">
    select
      I.ITEMID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      IMAGE as "product.descriptionImage",
      TEXT as "product.descriptionText",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5,
      QTY AS quantity
    from ITEM I, INVENTORY V, PRODUCT P
    where P.PRODUCTID = I.PRODUCTID
      and I.ITEMID = V.ITEMID
      and I.ITEMID = #{value}
  </select>

    <select id="getStockQuantity" parameterType="String" resultType="int">
        select stockquantity from item where itemid = #{itemId}
    </select>

    <update id="updateStockQuantity" >
        update item set stockquantity = #{stockQuantity} where itemid = #{itemId}
    </update>

    <select id="getCategoryByItemId" parameterType="String" resultType="String">
        select p.category from item i NATURAL join product p where i.itemid = #{itemId}
    </select>

    <select id="getProductIdByItemId" parameterType="string" resultType="string">
        select productid from item where itemid = #{itemId}
    </select>

    <insert id="insertItem" parameterType="Item">
        insert into item
        (itemid, stockquantity, productid, listprice, unitcost, supplier, status, attr1,attr2,attr3)
        values (#{itemId}, #{stockQuantity}, #{productId}, #{listPrice}, #{unitCost}, #{supplierId}, #{status}, #{attribute1}
        , #{attribute2}, #{attribute3})
    </insert>

    <insert id="insertInventoryRecord">
        insert into inventory
        (itemid, qty)
        values (#{itemId},#{quantity})
    </insert>

    <update id="updateItem">
        update item
        <set>
            <if test="item.itemId != null">
                itemid = #{item.itemId},
            </if>
            <if test="item.productId != null">
                productid = #{item.productId},
            </if>
            <if test="item.listPrice !=null">
                listprice = #{item.listPrice},
            </if>
            <if test="item.unitCost != null">
                unitcost = #{item.unitCost},
            </if>
            <if test="item.status != null">
                status = #{item.status},
            </if>
            <if test="item.attribute1 != null">
                attr1 = #{item.attribute1},
            </if>
            <if test="item.attribute2 != null">
                attr2 = #{item.attribute2},
            </if>
            <if test="item.attribute3 != null">
                attr3 = #{item.attribute3},
            </if>
        </set>
        where itemid = #{itemId}
    </update>

    <update id="updateItemStatus" parameterType="string">
        update item
        set status = #{status}
        where itemid = #{itemId}
    </update>

    <delete id="deleteItem" parameterType="string">
        delete a, b
        from item a left join inventory b on a.itemid = b.itemid
        where a.itemid = #{itemId}
    </delete>

    <delete id="deleteItems" parameterType="list">
        delete a, b
        from item a left join inventory b on a.itemid = b.itemid
        where a.itemid in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>