<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>产品管理</title>
    <link type="text/css" href="../layui/css/layui.css" rel="stylesheet">
    <script type="text/javascript" src="../layui/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../layui/layui.js"></script>
</head>
<body>
<div class="layui-row">
    Item ID:
    <div class="layui-input-inline">
        <input type="text" name="typeSearch" id="input" lay-verify="required"
               placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
    <button class="layui-btn" id="search" lay-event="edit"><i class="layui-icon">&#xe615;</i></button>

<!--    行操作-->
<script type="text/html" id="custom_toolbar">
    <button class="layui-btn" lay-event="refresh"><i class="layui-icon">&#xe9aa;</i></button>
    <button class="layui-btn" lay-event="add"><i class="layui-icon">添加商品</i></button>
    <button class="layui-btn" lay-event="delete_batch"><i class="layui-icon">批量删除</i></button>
</script>
</div>
<table class="layui-table" id="table" lay-filter="handle" style="width: 800px">
</table>
<div id="page"></div>
<!--// id和toolbar 属性绑定-->
<script type="text/html" id="barList">
<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>
<script type="text/javascript">
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#table'
            , url: '/backstage/items' //数据接口
            , method: 'get'
            , page: true //开启分页
            , id: 'itemsReload'
            , limits: [5,10,20]  //每页条数的选择项
            , limit: 10 //每页默认显示的数量
            , toolbar: true
            , toolbar: '#custom_toolbar'
            , cols: [
                [
                    {checkbox: true, fixed: true}
                    , {field: 'itemId', title: 'Item ID', width: 100, sort: true, fixed: 'left'}
                    , {field: 'd.product.productId  ', title: 'Product ID', width: 120, sort: true,
                        templet:'<div>{{d.product.productId}}</div>'}
                    , {field: 'd.product.name', title: 'Product Name', width: 150, sort: true,
                        templet:'<div>{{d.product.name}}</div>'}
                    , {field: 'listPrice', title: 'Price', width: 80, sort: true}
                    , {field: 'attribute1', title: 'Attribute', width: 100}
                    , {fixed: 'right', title:'操作', toolbar: '#barList', width:150,align:'center'}
                ]
            ],
            request: {
                pageName: 'pn', //页码的参数名称，默认：page
                limitName: 'ps', //每页数据量的参数名，默认：limit
            }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": 0, //解析接口状态
                    // "msg": res.message, //解析提示文本
                    "count": res.pageInfo.total, //解析数据长度
                    "data": res.pageInfo.list //解析数据列表
                };
            }

        });
        $('#search').on('click',function () {
            var input = $.trim($("#input").val());
            search_reload(input);
        });

        // $('#input').keydown(function (event) {
        //     //回车执行查询
        //     if (event.keyCode == 13) {
        //        search_reload();
        //     }
        // });

        function search_reload(input) {
            table.reload('itemsReload',{
                    url: '/backstage/items',
                    method: 'get',
                    where: {
                        itemId : input
                    }
                }
            );
        }

        table.on('toolbar(handle)',function (obj) {
            if(obj.event == 'refresh'){
                var input = $('#input');
                input.val("");          //清空输入
                search_reload(null);    //重载
                input.focus();          //输入框获取焦点
                // input.requestFocus();
            }else if(obj.event == 'add'){

            }else if(obj.event == 'delete_batch'){
                delete_in_batches();
            }
        });

        function delete_in_batches(){   //批量删除
        }

        //处理操作
        table.on('tool(handle)',function (obj) {
            var data = obj.data;
            if(obj.event == 'edit'){

            }else if(obj.event == 'del'){
                item_delete(obj,data.itemId);
            }
        });

        function item_delete(obj,id) {
            layer.confirm('确认要删除吗？',function(index){
                $.ajax({
                    type: "delete",
                    async: true,
                    url: "/backstage/items",
                    data: {
                        "itemId" : id,
                    },
                    dataType: "json",
                    success: function (result) {
                        if(result.status==1){
                            // obj.del();      //删除对应行（tr）的DOM结构，并更新缓存
                            layer.msg('已删除!',{icon:1,time:1000});
                            search_reload(null);
                        }
                        else{
                            layer.msg('删除失败,请稍后再试!',{icon:2,time:1000});
                        }
                    },
                    error: function(errorMsg) {
                        //请求失败时执行该函数
                        console.log(errorMsg);
                        layer.msg('删除失败,请稍后再试!',{icon:2,time:1000});
                    }
                });
            });
        }
    });
</script>
</html>