<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册成功 MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>

<div id="Content">
    <div id="Catalog">
        <form action="viewSignOnForm" name="registerSuccess" method="post">

            <h2>REGISTER SUCCESSFULLY!!!</h2>

            <table>
                <tr>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="signInAgain" value="Jump">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>