<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top">

</div>

<div id="Content">
    <div id="Catalog">
        <form action="viewSignOnForm" name="registerSuccess" method="post">

            <h2>REGISTER SUCCESSFULLY!!!</h2>

            <table>
                <tr>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="signInAgain" value="Jump">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div th:replace="common/bottom">

</div>
</body>
</html>