<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录 MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>

<div id="Content">
    <div id="Catalog">
        <form action="/account/login" method="post">

            <div th:if="${signMessage!=null}">
                <p th:text="${signMessage}"></p>
            </div>
            <!--            <c:if test="${signMessage != null}">-->
            <!--                ${signMessage}-->
            <!--            </c:if>-->

            <p>
                Please enter your username and password.
            </p>

            <p>
                Username:<input type="text" name="username" value="j2ee"><br/>
                Password:<input type="password" name="password" value="j2ee">
            </p>
            <input type="text" name="image" placeholder="verification code">
            <img src="/verifyCode" id="btn"><br>

            <p th:if="${imageMess!=null}" th:text="${imageMess}"></p>
            <!--            <c:if test="${imageMess != null}">-->
            <!--                ${imageMess}-->
            <!--                <br>-->
            <!--            </c:if>-->


            <input type="submit" name="signon" value="Login">


        </form>
        Need a user name and password?
        <a href="/account/newAccountForm">Register Now!</a>
    </div>

    <!--js改变验证码函数定义-->
    <script type="text/javascript">
        document.getElementById("btn").onclick = function () {   // 获取img元素
            // 为了让浏览器发送请求到servlet, 所以一定要改变src
            document.getElementById("btn").src =
                "/verifyCode?time=" + new Date().getTime();
        };
    </script>
</div>
<footer th:replace="common/bottom"></footer>

</div>
</body>
</html>